.foot{
			    width: 100%; 
			    background: #fbfbfb; 
			}
			.foot_top{
			    width: 1200px;
			    margin: auto;
			    padding: 70px 0 240px 76px;
			    position: relative;
			}
			.foot_top>ul>li{
			    width: 152px;
			    list-style: none;
			    float: left;
			    text-align: left;
			    
			}
			.foot_top>ul>li>a{
			    text-decoration: none;
			    color: rgb(197, 197, 197);
			    font-size: 13px;
			    display: block;
			    height: 13px;
			    line-height: 13px;
			    margin-bottom: 12px;
			}
			.foot_top>ul>li>.foot_top_title{
			    font-size: 16px;
			    line-height: 16px;
			    margin-bottom: 18px;
			    font-weight: 600;
			    color: #424242;
			}
			.foot_top>ul>.kef{
			    width: 223px;
			    border-left:1px solid #ccc ;
			    padding-left: 58px;
			    margin-left: 5px;
			}
			.foot_top>ul>.kef>.kef_phone>h3{
			font-size: 20px;
			text-align: left;
			color: red;
			}
			.foot_top>ul>.kef>.kef_phone>span{
			    font-size: 12px;
			    color: #757575;
			    text-align: left;
			    line-height: 25px;
			}
			.foot_top>ul>.kef>.kef_phone>a{
			    background-image: url(../img/zxzx.png);
			    display: inline-block;
			    width: 139px;
			    height: 36px;
			    opacity: 0.7;
			}
			.foot_top>ul>.kef>.kef_phone>a:hover{
				opacity: 1;
			}
			.foot_bot{
			    background: #272727;
			    color: #757575;
			    margin-bottom:0px ;
			}
			.foot_bot>.foot_bot_con{
			    width: 1200px;
			    height: 46px;
			    margin: auto;
			    font-size: 12px;
			    line-height: 46px;
			    
			}
			.foot_bot>.foot_bot_con span{
			    display: inline-block;
			}
			.foot_bot>.foot_bot_con>.foot_bot_con_left{
			    float: left;
			}
			.foot_bot>.foot_bot_con>.foot_bot_con_left>a{
			    font-size: 12px;
			    line-height: 46px;
			    text-decoration: none;
			    color: #757575;
			}
			.foot_bot>.foot_bot_con span{
			    display: inline-block;
			}
			.foot_bot>.foot_bot_con>.foot_bot_con_right{
			    float: right;
			}
			.foot_bot>.foot_bot_con>.foot_bot_con_right>a{
			    font-size: 12px;
			    line-height: 46px;
			    text-decoration: none;
			    color: #757575;
			}