*{
    margin: 0px;
    padding: 0px;
    font-style: normal;
}
ul{
	margin: 0;
	padding: 0;
}
div{
	padding: 0;
	margin: 0;
}
header{
    height: 120px;
    width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}
header>.header_top{
    height: 50px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    z-index: 21;
    background: white;
}
.logo a{
	display: block;
	margin-right: 10px;
	background: url(../img/newlog.png) no-repeat;
	background-size: 100%;
	width: 165px;
    height: 50px;
    float: left;
    position: relative;
    z-index: 22;
}
header>.header_top>.header_top_mid{
    height: 50px;
    width: 1200px;
    margin: 0 auto;
}
header>.header_top>.header_top_mid>ul{
    list-style: none;
}
header>.header_top>.header_top_mid>ul>li{
    float: left;
    text-align: center;
    line-height: 50px;
    margin-right: 20px;
    position: relative;
}
header>.header_top>.header_top_mid>ul>li>a{
    text-decoration: none;
    color: rgb(138, 138, 138);
    font-size: 15px;
}
header>.header_top>.header_top_mid>ul>li>a>span{
    color: red;

}
header>.header_top>.header_top_mid>ul>li>a>span>img{
    position: absolute;
    top: 43px;
    width: 233px;
    height: 124px;
    left: -35px;
    display: none;
}
header>.header_top>.header_top_mid>ul>li:hover>a>span>img{
    display: block;
}
.header_top_right{
    height: 50px;
    float: right;
    line-height: 50px;
    position: relative;
}
.header_top_right>.heade_phone{
    width: 50px;
    height: 50px;
    float: right;
    text-align: center;
    line-height: 38px;
}
.header_top_right>.heade_phone>.phone1{
    width: 23px;
    height: 23px;
    position: relative;
    top: 5px;
}
.header_top_right>.heade_phone>.phone22{
	display: none;
    position: absolute;
    left: -50px;
    top: 50px;
    float: left;
    width: 198px;
    z-index: 100;
    background: #fff;
	height: 105px;
    padding: 12px 0 0 12px;
    box-sizing: border-box; 
}
.header_top_right>.heade_phone:hover>.phone22{
    display: block;
}
.header_top_right>.heade_phone>.phone22>div>.phoneImg{
    width: 80px;
    height: 80px;
    float: left;
}
.header_top_right>.heade_phone>.phone22>div>.phoneImg>img{
	width: 100%;
	height: 100%;
}
.header_top_right>.heade_phone>.phone22>div>span{
	font-size: 16px;
    width: 80px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
	padding: 0!important;
    font-weight: 400!important;
    line-height: 19px!important;
    overflow: visible!important;
}
.header_top_right>.heade_phone>.phone22>div>span>span{
	color: #f10315;
    font-size: 13px;
    width: 80px;
    display: inline-block;
    margin-top: 10px;
    padding: 0!important;
    font-weight: 400!important;
    line-height: 19px!important;
    overflow: visible!important;
    text-align: left;
}
.header_top_right>.heade_land{
    float: left;
   	line-height: 50px;
   	position: relative;
}
.header_top_right>.heade_land>a{
    text-decoration: none;
    color: black;
	font-size: 12px;
}
.header_top_right>.heade_land>.qipao{
	position: absolute;
    display: block;
    top: 32px;
    right: -26px;
    width: 157px;
    height: 33px;
    background: url(https://p2.lefile.cn/product/adminweb/2019/01/18/028da9e3-588c-4a8c-9ed7-e94a9c639a12.png) no-repeat;
    background-size: 157px 33px;
	z-index: 3;
    text-align: center;
    line-height: 36px;
    font-style: normal;
    padding-right: 36px;
    box-sizing: border-box;
    padding-left: 10px;
    overflow: hidden;
    cursor: pointer;
}
.header_top_right>.heade_land>.qipao>a{
    text-decoration: none;
    font-size: 12px;
    color:#ba9964 ;
}
.header_top_right>.heade_land>.qipao>a>img{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 8px;
    right: 7px;
}
header>.header_bottom{
    height: 70px;
    width: 100%;
    background: #e0e0e0;
    position: static;
}
header>.header_bottom>.header_bottom_mid{
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    padding: 0;
}
header>.header_bottom>.header_bottom_mid>ul>li{
    list-style: none;
    float: left;
    margin-right: 45px;
    line-height: 70px;
}
header>.header_bottom>.header_bottom_mid>ul>li>a{
    text-decoration: none;
    color: #3a3a3a;
    font-size: 17px;
    font-weight: 550;
}
header>.header_bottom>.header_bottom_mid>.sea{
    float: right;
    line-height: 70px;
    margin-right: 19px;
    border-radius: 25px;
    position: relative;
}
header>.header_bottom>.header_bottom_mid>.sea>input{
    width: 250px;
    height: 36px;
    line-height: 36px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.829);
    border: 0;
    outline:none;
}
header>.header_bottom>.header_bottom_mid>.sea>a>span{
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    position: absolute;
    top: 26px;
    right: 20px;
    z-index: 1;
    display: block;  
}
header>.header_bottom>.header_bottom_mid>.header_top_right{
    display: none;
}
.sea_fangdajing>span{
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    position: absolute;
    top: 16px;
    right: 141px;
    z-index: 1;
}
@media screen and (max-width: 1500px) {
	.logo a{
		background: url(../img/newLogo.jpg) no-repeat;
	    width: 50px;
	    z-index: 22;
	}
}